body {
  background-color: #fffcf1;
  display: flex; /* Center content horizontally and vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Set the height to the full viewport height */
  margin: 0; /* Remove default body margin */
  font-family: "Roboto Flex", sans-serif;
}

.mainLogo {
  height: 10vh;
  width: auto;
}

.appContainer {
  width: 50vw;
  text-align: center; /* Center the content within appContainer */
  height: 80vh;
  border: 8px solid #d3d1ab;
  padding: 1vw;
  border-radius: 20px;
  background-color: #e2e0b7;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%; /* Take up the full width of the parent container */
}

.input-button-container {
  display: flex;
  flex-direction: row; /* Put input and button on the same line */
  width: 18vw;
}

label {
  text-align: left; /* Align the label text to the left */
  width: auto; /* Allow the label to take up only the space it needs */
  padding: 0 10px; /* Add some left padding to create space between the label and input */
}

#numberInput {
  border: 0;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0);
  flex: 1; /* Allow input to grow and fill available space */
  background-color: #f2efe0;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.clickButton {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 0;
  width: auto; /* Allow button to grow to fit its content */
  background-color: #f2efe0;
  padding: 1vw;
}

.clickButton:hover {
  cursor: pointer;
  background-color: #d3d1ab;
}

img {
  width: 100px;
  display: block; /* Make sure the image is centered within its container */
  margin: 0 auto; /* Center horizontally */
}

.dice-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.dice-result {
  text-align: center;
  width: 100%;
}
