* {
  --primary-color: #ececec;
  --secondary-color: #9ed668;
  --tertiary--color: #fffdf8;
  --quaternary-color: #ff7b4a;
  --text-color: #e2e2e2;
  --text-color-2: #eddecd;
  --text-color-3: #3269df;
}

body {
  background-image: url(/majorGroupProject/content/9A3DCE8D-29C4-42E7-A31D-EE324A42B1FF.webp);
  background-size: contain;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#title {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-size: 30px;
  padding: 0;
}
.login-container {
  font-family: "Inter", sans-serif;
  background-color: rgb(58, 58, 58);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  padding-bottom: 50px;
  width: 250px;
}

h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 3vh;
}
input {
  border-width: 0 0 2px;
  border-color: white;
  color: white;
  background: transparent;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="password"] {
  width: 93%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}
