* {
  font-family: "Poppins", sans-serif;
  --primary-color: #204e43;
  --secondary-color: #9ed668;
  --tertiary--color: #fffdf8;
  --quaternary-color: #ff7b4a;
  --text-color: #041b0d;
  --text-color-2: #eddecd;
  --text-color-3: #3269df;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: var(--tertiary--color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 250px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="password"] {
  width: 93%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: var(--tertiary--color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}
