* {
  --titleFont: font-family: 'Noto Serif', serif;
  --otherFont: font-family: 'Inter', sans-serif;
  --primary-color: #ececec;
  --secondary-color: #9ed668;
  --tertiary--color: #fffdf8;
  --quaternary-color: #ff7b4a;
  --text-color: #e2e2e2;
  --text-color-2: #eddecd;
  --text-color-3: #3269df;
}

body {
  background-color: rgb(58, 58, 58);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: auto; /* Adjust height based on content */
}

#title {
  text-align: center;
  font-weight: 200;
  font-size: 50px;
  padding: 5vh;
  color: rgb(255, 255, 255);
  background-image: url(content/9A3DCE8D-29C4-42E7-A31D-EE324A42B1FF.webp);
  background-size: cover;
  border-radius: 10px;
}

#firstName,
#lastName,
#email,
#phone {
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  width: 95%;
  text-align: left;
  padding: 5px;
}



.mainForm {
  width: 80vw;
}

form{
  font-family:"Inter", sans-serif;
}

input[type='checkbox'] {
  accent-color: wheat;
}

input:focus {
  outline-color: wheat;
}

